

/* ///.............subscribe section-------------------- */

.subscribe-bg{
    background: url(../../../src/assets/img/subscribe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}